.container {
  position: relative;

  .large-text {
    width: 66.6%;
    padding: 0 32px;

    h2 {
      font-family: 'Lato';
      font-weight: 400;
      font-size: 2.75rem;

      b {
        font-weight: 700;
      }
    }
  }

  .arrow { 
    position: absolute;
    left: 60.12%;
    bottom: 0;

    width: 10.8%;
    
    transform: translateY(75%);
  }
}